---
import Layout from '../layouts/Layout.astro';
---

<Layout title="David y Rosa">
    <br>
    <div class="container mx-auto p-4">
        <div class="flex justify-center items-center">
            <img src="4.jpg" alt="Imagen centrada" class="max-w-full h-auto rounded-lg shadow-lg">
        </div>
    </div>

</Layout>
